*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*------------------------------*/
/* nav styles */
/*------------------------------*/

.expanded {
  display: none;
}

.hamburger {
  margin: 10px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 5px;
  margin-block-end: 5px;
  background-color: black;
}

.nav-links {
  width: 100%;
}

.nav-links a {
  display: block;
  text-decoration: none;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

@media screen and (min-width: 36rem) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}
