*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*------------------------------*/
/* media queries */
/*------------------------------*/

.nav-links {
  display: none;
}

.expanded {
  display: block;
}

.hamburger:not(.expanded):hover .line:nth-child(1) {
  transform: translateY(-3px);
}
.hamburger:not(.expanded):hover .line:nth-child(2) {
  transform: translateY(3px);
}

.hamburger.expanded:hover {
  transform: scale(1.1);
}

.expanded .line:nth-child(1) {
  transform: rotate(45deg) translate(3.5px, 3.5px);
}

.expanded .line:nth-child(2) {
  transform: rotate(-45deg) translate(3.5px, -3.5px);
}

nav {
  background-color: pink;
  width: 367px;
}

.hamburger {
  padding: 12px;
  cursor: pointer;
  max-width: fit-content;
  user-select: none;
}

.hamburger.expanded {
  transition: transform 0.2s ease;
}
.hamburger .line {
  display: block;
  width: 24px;
  height: 2px;
  margin-block-end: 8px;
  background-color: black;
  transition: transform 0.2s ease;
}

.nav-links a {
  display: block;
  text-decoration: none;
  width: fit-content;
  padding: 0 12px 12px 12px;
}

.nav-links a:hover,
.nav-links a:focus {
  box-shadow: inset 0 -2px 0 0 coral;
}

@media screen and (min-width: 36rem) {
}
