---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../css/pages/about.css";

const skills = [
  "Javascript/Typescript",
  "React",
  "HTML",
  "CSS",
  "Express/Node",
];
---

<BaseLayout title="About | Eric Owen">
  <main>
    <section class="about">
      <h1>About me</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde
        laudantium dignissimos, eius facere maxime enim esse est laborum
        perspiciatis cupiditate et adipisci culpa officia ipsa voluptate sit!
        Numquam, quisquam inventore?
      </p>
    </section>
    <section class="skills">
      <h3>My Skills</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        dolor voluptatem iste. Quam animi laborum tempore quas sint, vitae
        recusandae corporis
      </p>
      <ul>
        {skills.map((item) => <li>{item}</li>)}
      </ul>
    </section>
  </main>
</BaseLayout>
