---
import BaseHtmlHead from "../components/BaseHtmlHead.astro";
import Header from "../components/Header.astro";

const skills = [
  "Javascript/Typescript",
  "React",
  "HTML",
  "CSS",
  "Express/Node",
];
---

<BaseHtmlHead title="About | Eric Owen" />
<body>
  <Header />
  <h1>About Me</h1>

  <h2>
    Lorem ipsum dolor sit amet consectetur a quia, repellendus neque, iusto
    expedita a delectus.
  </h2>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
    assumenda nisi nostrum recusandae aspernatur corporis dolore reiciendis
    repellendus minima officiis beatae delectus, in possimus. Accusantium alias
    sunt recusandae animi deleniti.
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde laudantium
    dignissimos, eius facere maxime enim esse est laborum perspiciatis
    cupiditate et adipisci culpa officia ipsa voluptate sit! Numquam, quisquam
    inventore?
  </p>

  <h3>My Skills</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor
    voluptatem iste. Quam animi laborum tempore quas sint, vitae recusandae
    corporis
  </p>
  <ul>
    {skills.map((item) => <li>{item}</li>)}
  </ul>
</body>
