---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact | Eric Owen">
  <h1>Contact</h1>
  <form method="POST" action="/api/submit">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" pattern="[A-Za-z]+" required />
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
    <label for="message">Message</label>
    <textarea name="message" id="message" required></textarea>

    <button type="submit">Submit</button>
  </form>
</BaseLayout>
