---
import BaseHtmlHead from "../components/BaseHtmlHead.astro";
import Header from "../components/Header.astro";
---

<BaseHtmlHead title="Contact | Eric Owen" />
<body>
  <Header />
  <h1>Contact</h1>
</body>
