---
import BaseHtmlHead from "../layouts/BaseHtmlHead.layouts.astro";
---

<BaseHtmlHead title="Contact | Eric Owen" />
<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/projects/">Projects</a>
  <a href="/contact/">Contact</a>

  <h1>Contact</h1>
</body>
