---
import BaseHtmlHead from "../components/BaseHtmlHead.astro";
import Header from "../components/Header.astro";
---

<BaseHtmlHead title="Eric Owen" />
<body>
  <Header />
  <h1>Eric Owen</h1>
</body>
