---
import Hamburger from "./Hamburger.astro";
import NavLinks from "./NavLinks.astro";

const links = [
  { href: "/", text: "Home" },
  { href: "/about/", text: "About" },
  { href: "/projects/", text: "Projects" },
  { href: "/contact/", text: "Contact" },
];
---

<header>
  <nav aria-label="Main navigation">
    <a href={links[0].href} class="home-btn">Eric Owen</a>
    <Hamburger />
    <NavLinks links={links} />
  </nav>
</header>
