---
import Hamburger from "./Hamburger.astro";
import NavLinks from "./NavLinks.astro";
---

<header>
  <nav aria-label="Main navigation">
    <a href="/" class="home-btn">Eric Owen</a>
    <Hamburger />
    <NavLinks />
  </nav>
</header>
