---
type Props = {
  links: { href: string; text: string }[];
};
const { links } = Astro.props;
---

<div class="nav-links" aria-label="Navigation links" aria-hidden="true">
  {
    links.map((link) => {
      return <a href={link.href}>{link.text}</a>;
    })
  }
</div>
