:root {
  /* fonts */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fs-large: 5rem;
  --fs-med: 3.5rem;
  --fs-small: 2rem;
  --fs-body: 1.125rem;

  /* colors */
  --clr-bg: #212529;
  --clr-secondary: #343a40;
  --clr-accent: #02c3bd;
  --clr-light-accent: #daa49a; /* #A5B452 #CFF27E #EF767A 02c3bd */
  --clr-txt: #e9ecef;

  /* spacing */
  --inline-margin: clamp(8px, 2vw + 8px, 50px);
  --block-margin: 16px;
}
